<% provide(:title, @taxon.name) %>
<%= render 'category_title', taxon: @taxon %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'taxonomies', taxonomies: @taxonomies %>
        <%= render 'filter_by_color' %>
        <%= render 'filter_by_size' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'sort_area' %>
        <%= render 'target_products', products: @products %>
      </div>
    </div>
  </div>
</section>
<%= render 'partner_logos' %>