<% if image_size == "large" %>
  <% product.images.each_with_index do | image, index | %>
    <div data-thumb="<%= index %>" class="item <%= "active" if index.zero? %>">
      <%= image_tag(image.attachment(:large)) %>
    </div>
  <% end %>
<% elsif image_size == "small" %>
  <% product.images.each_with_index do | image, index | %>
    <div data-target="#carousel" data-slide-to="<%= index %>" class="thumb">
      <%= image_tag(image.attachment(:small)) %>
    </div>
  <% end %>
<% end %>