<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <div class="main-wrapper" >
      <%= render 'shared/navbar' %>
      <%= yield %> 
      <%= render 'shared/footer' %>
      <%= render 'shared/login_modals' %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
